.game-slider-section {
    max-width: 1200px;
    margin: 24px auto;
}

.game-item {
    text-align: center;
}

.game-item img {
    max-width: 180px;
    margin: 0 auto;
    display: block;
}

.game-item span {
    display: inline-block;
    margin-top: 8px;
    font-weight: bold;
}