* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #fdecea;
}

.main-nav {
    width: 1035px;
    height: 71.77px;
    margin: 0 auto;
}

.menu {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    gap: 15px;
    padding: 0 20px;

}

.menu li a {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: #000000;
    font-size: 16px;
    font-weight: 400;
}

.hero-banner {
    width: 1037px;
    height: 356px;
    margin: 0 auto;
}

.category-nav {
    width: 1043px;
    height: 106.92px;
    margin: 0 auto;
    margin-top: 34px;
    padding: 15.03px 15.53px;
    background-color: #F6F6F6;
    border-radius: 8px;
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.08);
}

.category-list {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    gap: 30px;
    padding: 0 10px;
}
.category-item a{
    width: 100.19px;
    height:100%;
    display: flex;
    flex-direction: column;
    gap : 7.51px;
    align-items: center;
    text-decoration: none;
    color: #000000;
    font-size: 16px;
    font-weight: 400;
}
.category-item img{
    width:80.15px;
    height:51.35px;
    align-items: center;
}
.category-item span{
    font-size: 15px;
    font-weight: 600;
    color: #000000;
}
